nav{height: 40px;width: 980px;background-color: #88c6e5;}
nav ul li{float: left;line-height: 42px;padding: 0 10px;width: 70px;text-align: center;}
nav ul li a{color: #fff;font-weight: 700;font-size: 14px;}